<a href="https://colab.research.google.com/github/Jakemeister7/Data-Analysis-With-Python-Course/blob/main/Numpy_6_Iterating_Through_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np

In [7]:
# Can use regular Python For Loops
np1 = np.array([1, 2, 3, 4, 5])
print(np1)
for x in np1:
    print(x)

[1 2 3 4 5]
1
2
3
4
5

In [8]:
# Looping 2-D
np2 = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
for x  in np2:
   # print(x)
    for y in x:
        print(y)

1
2
3
4
5
6
7
8
9
10

In [20]:
# Looping 3-D
np3 = np.array([[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]])
for x in np3:
    #print(x)
        for y in x:
            #print(y)
            for z in y:
                print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [21]:
# Instead use shortcut np.nditer()
for x in np.nditer(np3):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12