<a href="https://colab.research.google.com/github/Jakemeister7/Data-Analysis-With-Python-Course/blob/main/Pandas_5_Adding_and_Removing_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Adding and Removing

In [1]:
import pandas as pd
import numpy as np
# Import CSV File
url = "https://raw.githubusercontent.com/flatplanet/Data_Analysis_With_Python_Course/refs/heads/main/dog_data_short.csv"
my_df = pd.read_csv(url)

In [2]:
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [3]:
# Add Column from List (must match)
gender_list = ["Male", "Female", "Male", "Male", "Female"]
# Create a column and assign the stuff
my_df["Gender"] = gender_list
my_df

                 Breed        Color  DogName  OwnerZip  Gender
0             COCKAPOO        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female
2        BELG MALINOIS      BRINDLE     EICH     15238    Male
3                MIXED  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female

In [4]:
# Add Default Values
my_df['Alive/Dead'] = [True] * len(my_df)
my_df

                 Breed        Color  DogName  OwnerZip  Gender  Alive/Dead
0             COCKAPOO        BROWN  CHARLEY     15236    Male        True
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female        True
2        BELG MALINOIS      BRINDLE     EICH     15238    Male        True
3                MIXED  BLACK/BROWN    ARROW     15104    Male        True
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female        True

In [5]:
# Add Null Values NaN
my_df['ShowDogs'] = [np.nan] * len(my_df)
my_df

,Breed,Color,DogName,OwnerZip,Gender,Alive/Dead,ShowDogs
0,COCKAPOO,BROWN,CHARLEY,15236,Male,True,NaN
1,GER SHEPHERD,BLACK/BROWN,TACODA,15238,Female,True,NaN
2,BELG MALINOIS,BRINDLE,EICH,15238,Male,True,NaN
3,MIXED,BLACK/BROWN,ARROW,15104,Male,True,NaN
4,AM PIT BULL TERRIER,WHITE/BROWN,OAKLEY,15139,Female,True,NaN

In [6]:
# Add Column with .insert() (allows you to specify where)
my_df.insert(1, 'Adopted', [True]*len(my_df), True)
my_df

,Breed,Adopted,Color,DogName,OwnerZip,Gender,Alive/Dead,ShowDogs
0,COCKAPOO,True,BROWN,CHARLEY,15236,Male,True,NaN
1,GER SHEPHERD,True,BLACK/BROWN,TACODA,15238,Female,True,NaN
2,BELG MALINOIS,True,BRINDLE,EICH,15238,Male,True,NaN
3,MIXED,True,BLACK/BROWN,ARROW,15104,Male,True,NaN
4,AM PIT BULL TERRIER,True,WHITE/BROWN,OAKLEY,15139,Female,True,NaN

In [7]:
# Add Column with .assign() (creates a new DataFrame)
my_df2 = my_df.assign(Horse=[False]*len(my_df))
my_df2

,Breed,Adopted,Color,DogName,OwnerZip,Gender,Alive/Dead,ShowDogs,Horse
0,COCKAPOO,True,BROWN,CHARLEY,15236,Male,True,NaN,False
1,GER SHEPHERD,True,BLACK/BROWN,TACODA,15238,Female,True,NaN,False
2,BELG MALINOIS,True,BRINDLE,EICH,15238,Male,True,NaN,False
3,MIXED,True,BLACK/BROWN,ARROW,15104,Male,True,NaN,False
4,AM PIT BULL TERRIER,True,WHITE/BROWN,OAKLEY,15139,Female,True,NaN,False

In [20]:
# Remove Column
#my_df.drop('ShowDogs')
#my_df.drop(columns='ShowDogs')
my_df.drop('ShowDogs', axis=1, inplace=True)

In [22]:
# run one more time just to see....
my_df

,Breed,Adopted,Color,DogName,OwnerZip,Gender,Alive/Dead
0,COCKAPOO,True,BROWN,CHARLEY,15236,Male,True
1,GER SHEPHERD,True,BLACK/BROWN,TACODA,15238,Female,True
2,BELG MALINOIS,True,BRINDLE,EICH,15238,Male,True
3,MIXED,True,BLACK/BROWN,ARROW,15104,Male,True
4,AM PIT BULL TERRIER,True,WHITE/BROWN,OAKLEY,15139,Female,True

In [29]:
# Remove Rows
my_df.drop(3, inplace=True)

In [31]:
my_df

,Breed,Adopted,Color,DogName,OwnerZip,Gender,Alive/Dead
0,COCKAPOO,True,BROWN,CHARLEY,15236,Male,True
1,GER SHEPHERD,True,BLACK/BROWN,TACODA,15238,Female,True
2,BELG MALINOIS,True,BRINDLE,EICH,15238,Male,True
4,AM PIT BULL TERRIER,True,WHITE/BROWN,OAKLEY,15139,Female,True