<a href="https://colab.research.google.com/github/Jakemeister7/Data-Analysis-With-Python-Course/blob/main/Pandas_8_Dropping_and_Grouping_Data_and_Uniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Dropping and Grouping Data

In [128]:
import pandas as pd
import numpy as np

In [94]:
# How to drop incomplete data
stuff = {'A':[1,2,3], 'B':[4,np.nan,6], 'C':[7,8,9], 'D':[10,11,12]}
my_df = pd.DataFrame(stuff)
my_df

   A    B  C   D
0  1  4.0  7  10
1  2  NaN  8  11
2  3  6.0  9  12

In [66]:
# Drop Rows with null Data (not permanent)
my_df.dropna(inplace=False)

   A    B  C   D
0  1  4.0  7  10

In [67]:
my_df

   A    B  C   D
0  1  4.0  7  10
1  2  NaN  8  11
2  3  NaN  9  12

In [68]:
# Drop Columns with null Data
my_df.dropna(axis=1, inplace=False)

   A  C   D
0  1  7  10
1  2  8  11
2  3  9  12

In [69]:
my_df

   A    B  C   D
0  1  4.0  7  10
1  2  NaN  8  11
2  3  NaN  9  12

In [92]:
# More than one null? set threshold (add another np.na above)
my_df.dropna(thresh=2, axis=1) # thresh=2 removes column B

   A  C   D
0  1  7  10
1  2  8  11
2  3  9  12

In [99]:
# Replace na with stuff
my_df.fillna(value=41, inplace=False)

   A     B  C   D
0  1   4.0  7  10
1  2  41.0  8  11
2  3   6.0  9  12

In [101]:
# Use math
my_df.fillna(my_df['B'].mean())

   A    B  C   D
0  1  4.0  7  10
1  2  5.0  8  11
2  3  6.0  9  12

In [102]:
# use min/max or sum
my_df.fillna(my_df['B'].min())

   A    B  C   D
0  1  4.0  7  10
1  2  4.0  8  11
2  3  6.0  9  12

In [103]:
my_df.fillna(my_df['B'].max())

   A    B  C   D
0  1  4.0  7  10
1  2  6.0  8  11
2  3  6.0  9  12

In [104]:
my_df.fillna(my_df['B'].sum())

   A     B  C   D
0  1   4.0  7  10
1  2  10.0  8  11
2  3   6.0  9  12

In [108]:
# Group By
stuff = {
    'Corporation':["Apple", "Google", "Meta", "Apple", "Google", "Meta"],
    'Employees':['John', 'April', 'Wes', 'Aspen', 'Beth', 'Steph'],
    'Salary':[200, 220, 190, 130, 120, 150]}
my_df = pd.DataFrame(stuff)
my_df

  Corporation Employees  Salary
0       Apple      John     200
1      Google     April     220
2        Meta       Wes     190
3       Apple     Aspen     130
4      Google      Beth     120
5        Meta     Steph     150

In [111]:
# Group By Corporation
my_df.groupby('Corporation')
company = my_df.groupby('Corporation')
company

In [112]:
# Sum
company.sum()

             Employees  Salary
Corporation
Apple        JohnAspen     330
Google       AprilBeth     340
Meta          WesSteph     340

In [115]:
# Mean
company.mean(numeric_only=True)

             Salary
Corporation
Apple         165.0
Google        170.0
Meta          170.0

In [117]:
# Min/Max
company.max(numeric_only=True)

             Salary
Corporation
Apple           200
Google          220
Meta            190

In [118]:
# Standard Deviation
company.std(numeric_only=True)

                Salary
Corporation
Apple        49.497475
Google       70.710678
Meta         28.284271

In [121]:
# Variance
company.var(numeric_only=True)

             Salary
Corporation
Apple        2450.0
Google       5000.0
Meta          800.0

In [123]:
# Count
company.count()

             Employees  Salary
Corporation
Apple                2       2
Google               2       2
Meta                 2       2

In [127]:
# Describe
company.describe()

            Salary
             count   mean        std    min    25%    50%    75%    max
Corporation
Apple          2.0  165.0  49.497475  130.0  147.5  165.0  182.5  200.0
Google         2.0  170.0  70.710678  120.0  145.0  170.0  195.0  220.0
Meta           2.0  170.0  28.284271  150.0  160.0  170.0  180.0  190.0

In [130]:
# Count Unique data per Column
# Import CSV File
url = 'https://raw.githubusercontent.com/flatplanet/Data_Analysis_With_Python_Course/refs/heads/main/dog_data.csv'
my_df = pd.read_csv(url)
my_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [131]:
# Grab a specific Column
my_df['DogName']

0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
            ...
2665          WINSLOW
2666    ROCKY KALAKOS
2667            ELLIE
2668         CLARENCE
2669          GRIFFIN
Name: DogName, Length: 2670, dtype: object

In [132]:
# Count Values
my_df['DogName'].value_counts()

DogName
LUCY          35
BELLA         30
BUDDY         29
BAILEY        29
DAISY         26
              ..
LULU DERRY     1
HEMINGWAY      1
LUCY LOU       1
JENA LYNN      1
BLITZ          1
Name: count, Length: 1428, dtype: int64

In [134]:
# Pass as Dataframe
pd.DataFrame(my_df['DogName'].value_counts()).head(50)

         count
DogName
LUCY        35
BELLA       30
BUDDY       29
BAILEY      29
DAISY       26
MOLLY       23
MAX         22
SADIE       20
CHARLIE     18
TOBY        17
DUKE        16
ABBY        16
COOPER      15
SOPHIE      15
JACK        15
RILEY       15
JAKE        14
ROCKY       14
CHLOE       13
COCO        12
ROSIE       12
MAGGIE      12
LOLA        12
ELLIE       11
TUCKER      11
GUS         10
IZZY        10
BUSTER      10
ANGEL       10
PENNY       10
ZOEY        10
LEO         10
ZOE         10
BANDIT      10
BENTLEY      9
BEAR         9
SYDNEY       9
RUBY         9
LUNA         9
ZEUS         9
HEIDI        9
ROXIE        9
OSCAR        9
PEANUT       9
HARLEY       9
HOLLY        8
GRACIE       8
JACKSON      8
HUNTER       8
TEDDY        8

In [136]:
# Grab Uniques
my_df['DogName'].unique()

array(['CHARLEY', 'TACODA', 'EICH', ..., 'ROCKY KALAKOS', 'CLARENCE',
       'GRIFFIN'], dtype=object)

In [138]:
# Show as DataFrame
pd.DataFrame(my_df['DogName'].unique()).head(50)

                    0
0             CHARLEY
1              TACODA
2                EICH
3               ARROW
4              OAKLEY
5              BAILEY
6   MIMI PEARL FOSTER
7               LEROI
8          ZOE VITSAS
9               TAFFY
10               DUDE
11            CHICKIE
12               KING
13              EMILY
14              ELLIE
15              RUSTY
16                NaN
17             JUILET
18              ROMEO
19               LOLA
20                ABE
21             MAGGIE
22              BUDDY
23           PRINCESS
24   CHRISTINA "TINA"
25              HOWIE
26              HAPPY
27              LILLY
28             SHADOE
29              SABLE
30              NAHBI
31           VALKYRIE
32             DOGGIE
33     CURIOUS GEORGE
34             WILLIE
35           SNOWBALL
36         HONEY PUCK
37               ROXY
38             BUMBLE
39          BOJANGLES
40             STELLA
41    NORMAN MITCHELL
42             WINNIE
43        MOLLY MAGEE
44          MADELEINE
45             BANDIT
46              KARMA
47             DAKOTA
48             CLOVER
49              TITAN