<a href="https://colab.research.google.com/github/Jakemeister7/Data-Analysis-With-Python-Course/blob/main/Pandas_7_Changing_and_Resettin_Row_Indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas - Changing and Resetting Row Indexes

In [30]:
import pandas as pd
import numpy as np

In [31]:
# Import CSV File
url = 'https://raw.githubusercontent.com/flatplanet/Data_Analysis_With_Python_Course/refs/heads/main/dog_data_short.csv'
my_df = pd.read_csv(url)

In [32]:
# Change and Reset Row Index
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [33]:
# Create a new column
my_df['Frame Header'] = ['Dog 1', 'Dog 2', 'Dog 3', 'Dog 4', 'Dog 5']
my_df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236        Dog 1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238        Dog 2
2        BELG MALINOIS      BRINDLE     EICH     15238        Dog 3
3                MIXED  BLACK/BROWN    ARROW     15104        Dog 4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139        Dog 5

In [34]:
# Set Index
my_df.set_index('Frame Header')

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog 1                    COCKAPOO        BROWN  CHARLEY     15236
Dog 2                GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog 3               BELG MALINOIS      BRINDLE     EICH     15238
Dog 4                       MIXED  BLACK/BROWN    ARROW     15104
Dog 5         AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [35]:
# Look - it's gone!
my_df

                 Breed        Color  DogName  OwnerZip Frame Header
0             COCKAPOO        BROWN  CHARLEY     15236        Dog 1
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238        Dog 2
2        BELG MALINOIS      BRINDLE     EICH     15238        Dog 3
3                MIXED  BLACK/BROWN    ARROW     15104        Dog 4
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139        Dog 5

In [36]:
# Make it permanent with inplace
my_df.set_index('Frame Header', inplace=True)
my_df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog 1                    COCKAPOO        BROWN  CHARLEY     15236
Dog 2                GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog 3               BELG MALINOIS      BRINDLE     EICH     15238
Dog 4                       MIXED  BLACK/BROWN    ARROW     15104
Dog 5         AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [37]:
# Reset it
my_df.reset_index()

  Frame Header                Breed        Color  DogName  OwnerZip
0        Dog 1             COCKAPOO        BROWN  CHARLEY     15236
1        Dog 2         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        Dog 3        BELG MALINOIS      BRINDLE     EICH     15238
3        Dog 4                MIXED  BLACK/BROWN    ARROW     15104
4        Dog 5  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [38]:
# Not permanent
my_df

                            Breed        Color  DogName  OwnerZip
Frame Header
Dog 1                    COCKAPOO        BROWN  CHARLEY     15236
Dog 2                GER SHEPHERD  BLACK/BROWN   TACODA     15238
Dog 3               BELG MALINOIS      BRINDLE     EICH     15238
Dog 4                       MIXED  BLACK/BROWN    ARROW     15104
Dog 5         AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [39]:
# Reset Permanent
my_df.reset_index(inplace=True)

In [40]:
my_df

  Frame Header                Breed        Color  DogName  OwnerZip
0        Dog 1             COCKAPOO        BROWN  CHARLEY     15236
1        Dog 2         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        Dog 3        BELG MALINOIS      BRINDLE     EICH     15238
3        Dog 4                MIXED  BLACK/BROWN    ARROW     15104
4        Dog 5  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [42]:
# delete the old column
my_df.drop('Frame Header', axis=1, inplace=True)

In [43]:
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139